<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dls</title>
    <link rel="stylesheet" href="static/landingpg.css" />
  </head>
  <body>
    <div class="navbar">
      <ul class="navbar-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
    <h1 class="land-pg">Dls Sales Inventory</h1>
  </body>
</html>
